.webchatContainer {
    max-height: 600px;
    background-color: #fff;
    width: 400px;
    margin: auto;
    flex-grow: 1;
}

.webchatContainer div {
    height: 100%;
}

.webchatIframe {
    position: relative !important;
    width: 100% !important;
    border: solid 1px gainsboro !important;
}