#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 0 0.2rem 0;
  text-align: center;
}

.App{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  padding-bottom: 0.2em;
  will-change: filter;
}

.logo.botpress{
  fill:black
}
.logo.botpress:hover {
  filter: drop-shadow(0 0 2em #898989d5);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.read-the-docs {
  color: #888;
}
